<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/weathericon.png">
    <script src="/js/app.js"></script>
    <title>404</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{message}}</p>
    </div>
    
    {{>footer}}
  </body>
 
    
 
</html>